<div class="container">
    <h2 class="mt-5 mb-4 fs-2">เกี่ยวกับเรา</h2>

    <div>
        <i class="fas fa-phone fs-5"></i>
        <span class="fs-6">&nbsp;&nbsp;&nbsp;&nbsp;+66 823750353</span>
    </div>
    <div>
        <i class="far fa-envelope fs-5"></i>  
        <span class="fs-6">&nbsp;&nbsp;&nbsp;&nbsp;thongrob.tsr@gmail.com</span> 
    </div>
    <div>
        <i class="fa fa-home fs-5" aria-hidden="true"></i>
        <span class="fs-6">&nbsp;&nbsp;&nbsp;&nbsp;123/123 Ramindra Road Tharang, Bangkhen, Bangkok 10220</span>
    </div>


</div>
