<div class="container">
    <h2 class="mt-5 mb-4">ติดต่อเรา</h2>
    <div>
        <i class="fa fa-user-circle" aria-hidden="true"></i>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;+66 123 4567</span>
    </div>
    <div>
        <i class="fa fa-envelope-open" aria-hidden="true"></i>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;thongrob.tsr@gmail.com</span>
    </div>
    <div>
        <i class="fa fa-podcast" aria-hidden="true"></i>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;https://www.youtube.com/thongrob</span>
    </div>
</div>
